extends layout

block title
    title Change for tutorial

block content
    div.container.main
        h3 Differences
        p Status: #{status}
        div!= diff_html
        - if (isOwner){
            form(style="display: inline", name="accept change", action="/change/#{change._id}/1", method="post")
                input(style="margin-right: 10px;", class="inline btn btn-mini", type="submit", value="Accept")
            form(style="display: inline", name="reject change", action="/change/#{change._id}/0", method="post")
                input(class="inline btn btn-mini", type="submit", value="Reject")
        -}else{
            p Only the owner of the tutorial can approve the pull request.
        -}
        p
        a(class="btn btn-mini", href="/tutorial/#{change.tutorial}") Back