extends layout

block content
	script(src='/scripts/edit.js')
	div(style="margin-left:150px;")
		div(style="display:none")
			p(id="tutorial-id") #{tutorial._id}
			p(id="change-id") #{last_change_id}

		// NOTE make sure the id is edit-form, this is used to make async call via /script/edit.js
		form(id="edit-form", action="/edit/#{tutorial._id}", method="post", onsubmit="return can_submit();")
			p name of the tutorial
			input(type="text", name="name", value="#{tutorial.name}")
			p description
			input(type="text", name="description", style="width:400px;", value="#{tutorial.description}")
			p content
			textarea(name="content", data-provide="markdown", style="width:400px; height:200px;", row="5") #{tutorial.content}
			p
			input(type="submit", value="edit")
