extends layout

block content
    script(src='/scripts/edit.js')
    div.container
        h3 Edit Tutorial
        div(style="display:none")
            p(id="tutorial-id") #{tutorial._id}
            p(id="change-id") #{last_change_id}

        // NOTE make sure the id is edit-form, this is used to make async call via /script/edit.js
        form(id="edit-form", style="margin-top: -20px", action="/edit/#{tutorial._id}", method="post", onsubmit="return can_submit();")
            input(placeholder="Title", type="text", class="form-control",name="name", style="width: 200px", value="#{tutorial.name}")
            input(placeholder="Description", type="text", class="form-control", name="description", style="width: 200px;", value="#{tutorial.description}")
            p
            textarea(name="content", data-provide="markdown", style="width: 100%; height:200px;") #{tutorial.content}
            p
            input(type="submit", class="btn btn-primary", value="Update Tutorial")
