extends layout

block title
    title Edit #{tutorial.name}

block content
    script(src='/scripts/edit.js')
    script(src='/scripts/jquery.hotkeys.js')    
    div.container.main
        h3 Edit Tutorial
        div(style="display:none")
            p(id="tutorial-id") #{tutorial._id}
            p(id="change-id") #{last_change_id}

        form(id="edit-form", action="/edit/#{tutorial._id}", method="post", onsubmit="return can_submit();")
            input(placeholder="Title", type="text", class="form-control limited-width",name="name", value="#{tutorial.name}")
            input(placeholder="Description", type="text", class="form-control limited-width", name="description", value="#{tutorial.description}")
            br
            a(href="http://assemble.io/docs/Cheatsheet-Markdown.html" target="_blank") Markdown Cheatsheet
            br
            textarea.content(data-provide="markdown", name="content") #{tutorial.content}
            div.spacing
            p(style="display:inline;") (Control + P) - Toggle plain/preview; (Control + G) - Insert image; (Control + L) - Insert Link;
            div.spacing
            input(type="submit", class="btn btn-primary", value="Update Tutorial")
