extends layout

block title
    title Thrashing.io

block meta
    meta(name='description', content='Thrashing.io')
    meta(name='keywords', content='Thrashing.io Homepage')

block content
    div.container.main
        img.banner(src="/images/banner.png")
        div.left(style="width: 49%")
            h3 Trending Tutorials
            each tutorial in main_tutorials
                a(href="/tutorial/#{tutorial._id}")
                    div.block
                        p.active.bold #{tutorial.name}
                        p #{tutorial.description}
                    hr
        div.right(style="width: 49%; padding-left: 10px;", class="hidden-xs")
            h3 Best Weekly Tutorials
            each tutorial in overall_tutorials
                a(href="/tutorial/#{tutorial._id}")
                    div.block
                        p.active.bold #{tutorial.name}
                        p #{tutorial.description}
                    hr

        
