extends layout

block content
    script(src='/scripts/edit.js')
    div.container
        div(style="display:none")
            p(id="tutorial-id") #{tutorial._id}
            p(id="change-id") #{last_change_id}
    div.container(style="margin-top: 20px")
        h3 Change / Merge Conflict
        p Changes
        textarea(readonly, name="content", data-provide="markdown", style="height:200px;") #{change.newContent}
        form(id="edit-form", action="/merge/#{change._id}", method="post", onsubmit="return can_submit();")
            textarea(name="content", data-provide="markdown", style="height:200px") #{tutorial.content}
            p
            input(class="btn btn-primary", type="submit", value="Resolve Conflict")
