extends layout

block title
    title Merge conflict

block content
    script(src='/scripts/edit.js')
    div.hidden
        p(id="tutorial-id") #{tutorial._id}
        p(id="change-id") #{last_change_id}
    div.container.main
        h3 Merge Conflict
        p Changes
        textarea.content.short(readonly, name="content", data-provide="markdown") #{change.newContent}
        form(id="edit-form", action="/merge/#{change._id}", method="post", onsubmit="return can_submit();")
            textarea.content.short(name="content", data-provide="markdown") #{tutorial.content}
            p
            input(class="btn btn-primary", type="submit", value="Resolve Conflict")
