extends layout

block title
    title #{user_profile.name}

block meta
    meta(name='description', content='Profile page for #{user_profile.name}, #{user_profile.email}, #{user_profile.company}, #{user_profile.site}')
    meta(name='keywords', content='#{user_profile.name}, #{user_profile.email}, #{user_profile.company}, #{user_profile.site}')

block content
    script(src='//d3js.org/d3.v3.min.js')
    script(src='//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css')
    script(src='/scripts/profile.js')
    div.container.main
        div.left(style="min-width: 150px; width: 30%;")
            p(style="display:none", id="profile-id") #{user_profile._id}
            h3 #{user_profile.name}
            p Organization: #{user_profile.company}
            p Website: 
                a(href="#{linkNoHTTPFixer(user_profile.site)}") #{user_profile.site}
            p # Improved: #{num_tutorials} tutorials
            p # Contributed: #{num_contributions} times
            - if(can_edit_profile_info){
                a(class="btn btn-mini", href="/edit_profile") edit
            -}
        div.left(style="width: 70%;")
            h3 Tutorials
            each tutorial in tutorials
                a(href="/tutorial/#{tutorial._id}")
                    div.block
                        h3.left #{tutorial.vote_score}
                        p.left-indent.active #{tutorial.name}
                        p.left-indent #{tutorial.description}
            a(class="btn btn-mini", href="/profile_tutorials/#{user_profile._id}") View All
            p(id="heatmap-grid-info")
            div(class="hidden-xs", id="cal-heatmap")
