extends layout

block title
    title #{user_profile.name}

block meta
    meta(name='description', content='Tutorials page for #{user_profile.name}, #{user_profile.email}, #{user_profile.company}, #{user_profile.site}')
    meta(name='keywords', content='#{user_profile.name}, #{user_profile.email}, #{user_profile.company}, #{user_profile.site}')

block content
    div.container.main
        h3 Tutorials
        each tutorial in tutorials
            a(href="/tutorial/#{tutorial._id}")
                div.block
                    h3.left #{tutorial.vote_score}
                    p.left-indent.active #{tutorial.name}
                    p.left-indent #{tutorial.description}
            hr(style="margin-top: 10px; margin-bottom: 10px;")
