extends layout
block title
    title #{tutorial.name}

block meta
    meta(name='description', content='A tutorial: #{tutorial.description}')
    meta(name='keywords', content='#{tutorial.description}')

block content
    script(src='/scripts/tutorial_vote.js')
    script(src='/scripts/tutorial_comments.js')
    div.container.main
        p(style="display:none", id="tutorial-id") #{tutorial._id}
        - if(user){
            p(style="display: none", id="user-id") #{user._id}
        -}
        div.left(style="width: 80%")
            div(style="margin-top: -10px; margin-bottom: -10px", id="vote_block")
                h3(style="margin-bottom: -10px") #{tutorial.name}
                div(id="up-button", style="font-family: Courier", class="btn btn-micro", data-role="button") +
                p(id="vote-score") #{tutorial.vote_score}
                div(id="down-button", style="font-family: Courier", class="btn btn-micro", data-role="button") -
            hr
            p #{tutorial.description}
            hr
            div
            p!= tutorial_html
            hr
            h4(style="margin-top: 30px") Comments
            //note all these id / class names that start with comment  and subcomment are used in tutorial_comments.js
            div(id="_comments")
                div(id="_comment-box")
                    div(class="_comment-section", id='ID HERE', style="display:none")
                        div(style="font-family: Courier", class="btn btn-micro", data-role="button", onClick="votecomment(this, '1')") +
                        p(class="_comment-vote", style="display:inline; margin-left: 8px; margin-right:8px;") 3 votes for this
                        div(style="font-family: Courier", class="btn btn-micro", data-role="button", "float:left", onClick="votecomment(this, '0')") -
                        pre(class="_comment-content", style="background-color:white") content
                        p(class="_comment-time") 12pm march 12
                        div(class="_subcomments", style="margin-left:30px;")
                            div(class="_subcomment-box")
                                div(class="_subcomment-section" style="display:none;")
                                    pre(class="_subcomment-content", style="background-color:white") subcontent?
                                    p(class="_subcomment-time") 12.01pm
                            div(class="_new_subcomment")
                                form(onsubmit="submit_subcomment(this); return false;")
                                    input(type='text', style="display:none", id="comment_id",class='new_subcommment_id')
                                    textarea(type='text', id="subcomment_content", class="form-control new_subcommment_content",placeholder='new comment',required, autofocus)
                                    button(class='btn btn-mini', type='submit') Reply
                div(class="_new_comment")
                    form(onsubmit="submit_comment(); return false;")
                        textarea(type='text', class="form-control", id='new_commment_content', placeholder='new comment',required, autofocus)
                        button(class='btn btn-mini', type='submit') Post

        div.left(style="width: 20%; padding-left: 5px;", class="hidden-xs")
            a(class="btn", style="width:100px;", href="/edit/#{tutorial._id}") Edit Tutorial
            br
            a(class="btn btn-mini", href="/tutorial/#{tutorial._id}/traffic") #{tutorial.visitors.length} views
            br
            p(style="margin-top: 10px")
                a(href="/profile/#{tutorial.owner}") Author
            p Updated: #{dateFormater(tutorial.lastChanged)}
            p # Contributors: #{num_contributors}
            p # Commits: #{num_changes}
            h4(style="margin-top: 30px;") Pull Requests: #{num_open_changes}
            a(class="btn btn-mini", href="/tutorial/#{tutorial._id}/changes") View
            h4() Related tutorials
            for related_tutorial in related_tutorials
                a(href="/tutorial/#{related_tutorial._id}") #{related_tutorial.name}
                hr(style="margin-top:10px; margin-bottom:10px;")
