extends layout

block title
    title #{tutorial.name} traffic

block meta
    meta(name='description', content='#{tutorial.name} traffic analysis')
    meta(name='keywords', content='#{tutorial.name} traffic analysis')

block content
    div.container.main
        h3 Traffic sources
        each source in traffic
            a(href='#{source.key}')
                div.block(style="height:35px;")
                    h3.left #{source.value}
                    p.left-indente #{source.key}
            br

